/* Dotted border */
.dotted {
    border-bottom: 1px dotted #bbb;
}

#recipe-name {
    margin: 0;
}

#recipe-img {
    vertical-align: top;
}

#recipe-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 5px;
}

#recipe-header {
   text-align: center;
}

#product-list-container {
    flex-basis: 25%;
    min-width: 180px;
    padding: 5px 0;
    margin: 0 5px 0 0;
}

#ingredients {
    background-color: darkgray;
    padding: 5px 5px;
    margin: 0;
    font-size: 22px;
}

#ingredients-table {
    margin: 5px 5px;
    padding: 0;
}

#recipe-description-container {
    margin: 0 0 0 5px;
    padding: 5px 0;
    width: 100%;
}

#recipe-description-name {
    background-color: darkgray;
    padding: 5px 5px;
    margin: 0;
    font-size: 22px;
}

#recipe-description-data {
    margin: 5px 8px;
    padding: 0 14px;
}

ul {
    -webkit-padding-start: 0;
    padding: 0 5px;
    list-style: none;
}

ol {
    padding: 0;
}

li {
    padding: 2px 0;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    body {
        /*margin: 0;*/
    }

    #recipe-content {
        flex-direction: column;
    }

    #product-list-container {
        margin: 0;
    }

    #recipe-description-container {
        margin: 0;
        width: unset;
    }
}