@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap');

body {
    margin: 0;
    height: 100%;
    background: url("../img/background.jpeg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Fanwood Text', serif;
}

/* Dotted border */
.dotted {
    border-bottom: 1px dotted #996113;
}

#content {
    height: 100%;

}

#recipe-header {
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin: 0;
    text-align: center;
    /*margin: 10px 0;*/
}

#back-button-container {
    float: left;
    /*position: absolute;*/
}

.back-button {
    position: absolute;
    top: 9px;
    left: 155px;
    width: 28px;
    height: 28px;
    filter: invert(100%);
}

#recipe-content {
    margin: 0 150px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

#recipe-info-container {
    position: center;
}

#recipe-name {
    margin: 0;
    background-color: #f16500;
    color: white;
    font-size: 35px;
    padding: 2px;
}

#recipe-img {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 500px;
    height: 225px;
    position: relative;
    background: no-repeat center center;
    background-size: cover;
}

#recipe-data {
    display: flex;
    margin: 0;
    padding: 13px 0 0 0;
    width: 100%;
}

#product-list-container {
    flex-basis: 25%;
    min-width: 180px;
    /*border: solid 1px #996113;*/
}

#ingredients {
    color: #996113;
    border-bottom: dotted 1px #996113;
    font-weight: bold;
    padding: 5px 5px;
    margin: 0;
    font-size: 30px;
}

#ingredients-table {
    margin: 5px 5px;
    padding: 0;
}

#recipe-instructions-container {
    margin: 0 0 0 10px;
    /*padding: 5px 0;*/
    width: 100%;
}

#recipe-instructions-name {
    /*background-color: #f16500;*/
    color: #996113;
    font-weight: bold;
    border-bottom: dotted 1px #996113;
    padding: 5px 5px;
    margin: 0;
    font-size: 30px;
}

#recipe-instructions-data {
    margin: 5px 8px;
    padding: 0 14px;
}

ul {
    -webkit-padding-start: 0;
    padding: 0 5px;
    list-style: none;
}

ol {
    padding: 0;
}

li {
    padding: 2px 0;
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {
    .back-button {
        float: left;
        top: 9px;
        left: 5px;
        width: 28px;
        height: 28px;
        filter: invert(100%);
    }

    #recipe-content {
        margin: 0;
        padding-top: 46px;
    }

    #recipe-data {
        padding: 0;
    }
}

@media only screen and (max-width: 735px) {

    #content {
        margin: 0;
    }

    #recipe-info-container {
    }

    #recipe-content {
        flex-direction: column;
        margin: 0;
        padding: 46px 0 0 0;
    }

    #recipe-img {
        width: 100%;
    }

    #recipe-data {
        display: flex;
        flex-direction: column;
    }

    #product-list-container {
        margin: 0;
    }

    #recipe-instructions-container {
        margin: 0;
        width: unset;
    }
}