#recipe-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#recipe-header {
   text-align: center;
}

#product-list-container {
    flex-basis: 25%;
    min-width: 180px;
    padding: 5px;
}

#ingredients {
    background-color: darkgray;
    padding: 5px;
}

#recipe-description-container {
    padding: 5px;
    width: 100%;

}

#recipe-description-name {
    background-color: darkgray;
    padding: 5px;
}

#recipe-description-data {
    padding: 0 16px;
}

ul {
    -webkit-padding-start: 0;
    padding: 0 5px;
    list-style: none;
}

ol {
    padding: 0;
}

@media only screen and (max-width: 600px) {
    #recipe-content {
        flex-direction: column;
    }

    #recipe-description-container {
        width: unset;
    }
}