#shopping-list-sidenav {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f16500;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
}

#shopping-list-header-text {
    float: left;
}

#shopping-list-header-button-container {
    float: right;
    padding: 10px 5px;
    height: 100%;
}

#shopping-list-header-button-close {
    width: 32px;
    height: 32px;
    filter: invert(100%);
    /*margin: 3px 5px 0 5px;*/
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #shopping-list-sidenav {
        display: none;
        width: 100%;
    }
}