#shopping-list-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f16500;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;cursor: default;
}

#shopping-list-header {
    cursor: default;
    width: fit-content;
}

#shopping-list-header-text {
    float: left;cursor: default;
    size: 24px;
}

#shopping-list-header-button-container {
    position: absolute;
    right: 10px;
    top: 5px;
    /*padding: 10px 5px;*/
    cursor: pointer;
}

#shopping-list-header-button-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    filter: invert(100%);
    /*margin: 3px 5px 0 5px;*/
    /*cursor: pointer;*/
}

.shopping-list-content {
    background-color: #ff6b00;
    height: 100%;margin: 1px;
    padding: 0;
}

@media only screen and (max-width: 735px) {
    #shopping-list-sidenav {
        width: 0;
    }
}