#shopping-list-sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
    cursor: default;
}

#shopping-list-header {
    cursor: default;
    width: 100%;
    height: 50px;
    background-color: #f16500;
    -webkit-box-shadow: 1px 5px 20px -4px rgba(0,0,0,0.67);
    -moz-box-shadow: 1px 5px 20px -4px rgba(0,0,0,0.67);
    box-shadow: 1px 5px 20px -4px rgba(0,0,0,0.67);
}

#shopping-list-header-text {
    float: left;
    cursor: default;
    font-size: 26px;
    color: white;
    margin-bottom: 0;
    margin-top: 4px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 10px;
}

#shopping-list-header-button-container {
    position: absolute;
    right: 10px;
    top: 5px;
    /*padding: 10px 5px;*/
    cursor: pointer;
}

#shopping-list-header-button-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    filter: invert(100%);
    /*margin: 3px 5px 0 5px;*/
    /*cursor: pointer;*/
}

#shopping-list-content {
    /*background-color: #ff6b00;*/
    height: 100%;
    /*margin: 1px;*/
    padding-left: 10px;
    background-color: #dc5c00;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.shopping-list-entry {
    display: inline-block;
    width: 100px;
    /*max-width: 50px;*/
    height: 25px;
}

.shopping-list-entry-text {
    float: left;
    color: white;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 735px) {
    #shopping-list-sidenav {
        width: 0;
    }
}

.shopping-list-entry {
    display: inline-block;
    width: 100%;
    height: 25px;
}

.shopping-list-entry-text {
    float: left;
    color: white;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.shopping-list-entry-checkbox-container {
    float: right;
    padding-top: 5px;
    padding-right: 21px;
}

.shopping-list-entry-img {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

.shopping-list-entry-checkbox {
    transform: scale(2);
}

.strike-through {
    width: 0;
    position: relative;
    top: 17px;
    border-bottom: solid 1px white;
    transition: ease-in-out .5s;
}

/* width */
#shopping-list-content::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#shopping-list-content::-webkit-scrollbar-track {
    background: #f16500;
}

/* Handle */
#shopping-list-content::-webkit-scrollbar-thumb {
    background: #c25300;
}

/* Handle on hover */
#shopping-list-content::-webkit-scrollbar-thumb:hover {
    background: #d85f08;
}