body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Hind Siliguri', sans-serif;
    box-sizing: border-box;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: unset;
    display: block;
    /*height: 100%;*/
}

ol {
    padding: 0;
}

ul {
    padding: 0;
    margin: 10px;
}

li {
    margin: 0;
    padding: 2px 0;
    font-size: 18px;
    list-style: none;
}

.dotted {
    border-bottom: 1px dotted white;
}

/* width */
#shopping-list-content::-webkit-scrollbar {
    width: 12px;
}

/* Track */
#shopping-list-content::-webkit-scrollbar-track {
    background: #f16500;
}

/* Handle */
#shopping-list-content::-webkit-scrollbar-thumb {
    background: #e35f00;
}

/* Handle on hover */
#shopping-list-content::-webkit-scrollbar-thumb:hover {
    background: #d85f08;
}

#shopping-list-menu-container {
    display: block;
    /*background-color: #DDCECE;*/
    background-color: #ff6b00;
    width: 25em;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0;
    transition: all .4s ease-in-out;
    height: 50px;
    /*transform-origin: left top;*/
    /*transform: scaleY(1);*/
}

#shopping-list-menu-header {
    display: block;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
    /*background-color: #E80303;*/
    background-color: #f16500;
    /*background-color: #32ce00;*/
    color: white;
}

#shopping-list-menu-text {
    float: left;
    font-size: 1.4em;
    line-height: 40%;
}

#shopping-list-button-container {
    float: right;
    padding: 11px 2px;
    vertical-align: middle;
}

#shopping-list-button {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    filter: invert(100%);
}

#shopping-list-content {
    display: none;
    float: left;
    clear: left;
    width: 100%;
    max-height: 190px;
    overflow-x: hidden;
    overflow-y: auto;
}

#shopping-list {
    color: white;
}

.header {
    text-align: center;
}

#content {
    margin: 20px 100px 200px 100px;
}

#recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe {
    margin: 10px;
    text-align: center;
    max-width: 225px;
    height: min-content;
    transition: all 0.5s;
}

.recipe:hover {
    transform: scale(1.01);
}

.img-container {
    display: block;
    float: left;
    width: 225px;
    height: 225px;
    position: relative;
}

.recipe-img {
    /*remove empty space under the image*/
    vertical-align: bottom;
    width: 225px;
    height: 225px;
    background-color: white;
}

.recipe-link {
}

.checkbox {
    /*float: right;*/
    position: absolute;
    right: 3px;
    top: 3px;
    transform: scale(2);
    /*outline: 0.13em solid white;*/
    cursor: default;
}

.recipe-info {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.recipe-title {
    background-color: white;
    font-size: 24px;
    padding: 2px 10px;
    margin: 0;
}

.recipe-description {
    background-color: white;
    font-size: 16px;
    text-align: justify;
    padding: 5px 8px;
    margin: 0;
}

@media only screen and (max-width: 700px) {
    #shopping-list-menu-container {
        display: inline-block;
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    #content {
        margin: 0;
    }
}

@media only screen and (max-width: 545px) {
    .recipe {
        margin: 10px;
        text-align: center;
        max-width: unset;
        transition: unset;
        width: 100%;
    }

    .img-container {
        border-style: solid;
        border-color: white;
        margin: 0;
        padding: 0;
        width: 99%;
    }

    .recipe:hover {
        transform: unset;
    }
}


@media only screen and (max-width: 500px) {
    body {
        margin: 0;
    }

    .recipe {
        margin: 10px 0;
        text-align: center;
        max-width: unset;
    }
}

@media only screen and (max-width: 320px) {
    body {
        margin: 0;
    }

    .recipe {
        margin: 10px 0;
        text-align: center;
    }
}