@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("../img/background.jpeg") no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: unset;
    display: block;
    /*height: 100%;*/
}

ol {
    padding: 0;
}

ul {
    padding: 0;
    margin: 10px;
}

li {
    margin: 0;
    padding: 2px 0;
    font-size: 18px;
    list-style: none;
}

h1 {
    margin: 0;
}

.dotted {
    border-bottom: 1px dotted white;
}

.header {
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Rochester', cursive;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin: 0;
    background-color: #f16500;

}

.header-title {
    display: inline-block;
    width: fit-content;
    text-align: center;
}

.header-title a {
    padding: 0 5px 0 5px;
}

.header-title-h1 {
    font-size: 35px;
    padding: 3px;

}

.header-sidenav-button-container {
    float: right;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

#header-sidenav-button {
    width: 32px;
    height: 32px;
    filter: invert(100%);
}

#content {
    font-family: 'Fanwood Text', serif;
    padding-top: 50px;
}

#recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding-top: 48px;
    margin: 0 150px 0;
}

.recipe {
    display: block;
    margin: 0 5px 2px 5px;
    text-align: center;
    max-width: 350px;
    height: min-content;
    background-color: rgba(255, 255, 255, 0);
}

.img-wrapper {
    display: block;
    float: left;
    width: 350px;
    height: 225px;
    position: relative;
    background: no-repeat center center;
    background-size: cover;
}

.img-container {
    width: 350px;
    height: 225px;
    cursor: pointer;
}

.recipe-img {
    /*remove empty space under the image*/
    vertical-align: bottom;
    object-fit: cover;
    /*height: auto;*/
    /*max-width: 100%;*/
    width: 400px;
}

.recipe-link {
}

.checkbox {
    position: absolute;
    right: 3px;
    top: 3px;
    transform: scale(2);
    /*outline: 0.13em solid white;*/
    cursor: default;
    width: 12px;
    height: 12px;
}

.recipe-info {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.recipe-title {
    color: #996113;
    font-size: 24px;
    font-weight: bold;
}

p.recipe-title {
    margin: 0;
    padding: 10px 5px 5px 5px;
    line-height: 30px;
}

.recipe-description {
    color: black;
    font-size: 19px;
    text-align: center;
    padding: 5px 5px 2px 5px;
    margin: 0;
}

@media only screen and (max-width: 1395px) {
    #recipe-container {
        margin: 0;
        padding-top: 48px;
    }
}

@media only screen and (max-width: 735px) {
    .header-sidenav-button-container {
        float: right;
        position: absolute;
        /*top: 10px;*/
        /*right: 15px;*/
        cursor: pointer;
    }

    #content {
        margin: 0;
    }

    #recipe-container {
        margin: 0;
        padding-top: 1px;
    }

    .recipe {
        margin: 0 0 2px 0;
        text-align: center;
        max-width: unset;
        transition: unset;
        width: 100%;
    }

    .recipe-img {
        width: 100%;
    }

    .img-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .img-wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

